body {
  background: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  margin: 15px;
  width: 80%;
  max-width: 300px;
  padding: 15px 0px 15px 0px;
  background: #a22b2b;
  border: 0px;
  color: #FFF;
  font-weight: bold;
  border-radius: 6px;
}

textarea {
  margin: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 6px;
  border: 0px;
  height: 20vh;
  color: #FFF;
  background-color: #333;
  padding: 10px;
}

input {
  margin: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 6px;
  border: 0px;
  color: #FFF;
  background-color: #333;
  padding: 10px;
}

button:active {
  transform: scale(0.95);
}

.status {
  color: #CCC;
}